html, body {
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#display {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#display>canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.text-label {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}